.input-feild {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  margin: 2rem 3.5rem;

  border: 3px solid #dfb4b9;
  color: black;
  border-radius: 0.25rem;
  margin-top: 6rem;
  color: green;
  font-weight: 600;
  font-size: large;
}
